<form [formGroup]="productForm" class="product-form">
  <!-- SKU -->
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>SKU *</mat-label>
    <input matInput formControlName="sku" />
    <mat-error *ngIf="productForm.get('sku')?.touched && productForm.get('sku')?.invalid">
      SKU is required
    </mat-error>
  </mat-form-field>

  <!-- Product Name -->
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Product Name *</mat-label>
    <input matInput formControlName="productName" />
    <mat-error
      *ngIf="productForm.get('productName')?.touched && productForm.get('productName')?.invalid"
    >
      Product Name is required
    </mat-error>
  </mat-form-field>

  <!-- Translated Name -->
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Translated Name</mat-label>
    <input matInput formControlName="translatedName" />
  </mat-form-field>

  <!-- Price -->
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Price *</mat-label>
    <input matInput type="number" formControlName="price" />
    <mat-error *ngIf="productForm.get('price')?.touched && productForm.get('price')?.invalid">
      <span *ngIf="productForm.get('price')?.errors?.['required']">Price is required</span>
      <span *ngIf="productForm.get('price')?.errors?.['min']">Minimum price is 1</span>
    </mat-error>
  </mat-form-field>

  <!-- Warehouse Name -->
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Warehouse Name</mat-label>
    <input matInput formControlName="warehouseName" />
  </mat-form-field>

  <!-- Warehouse Address -->
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Warehouse Address</mat-label>
    <textarea matInput rows="3" formControlName="warehouseAddress"></textarea>
  </mat-form-field>

  <!-- Warehouse Email -->
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Warehouse Email *</mat-label>
    <input matInput formControlName="warehouseEmail" />
    <mat-error
      *ngIf="
        productForm.get('warehouseEmail')?.touched && productForm.get('warehouseEmail')?.invalid
      "
    >
      <span *ngIf="productForm.get('warehouseEmail')?.errors?.['required']">
        Email is required
      </span>
      <span *ngIf="productForm.get('warehouseEmail')?.errors?.['email']">
        Invalid email format
      </span>
    </mat-error>
  </mat-form-field>
</form>

<pre>{{ productForm.value | json }}</pre>
